* {
text-decoration: none;
list-style: none;
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
body {
    font-family: 'Poppins', sans-serif;
}

body .heading {
display: flex;
align-items: center;
justify-content: space-between; 
margin: 1rem 1.5rem;
}
body .heading .logo {
    
}
body .heading .logo img {
width: 2.5rem;
}

body .heading .menu ul{
    display: flex;
   align-items: center;
   justify-content: center; 
   flex-direction: row; 
   

}
body .heading .menu ul li {
  margin: 0 1.5rem; 

  
}
body .heading .menu ul li a {
  /*color: black; */ 
 font-size: 1.15rem; 
   padding-bottom: 10px; 
   transition: 0.1s;
   color: rgb(30, 12, 48);
}
body .heading .menu ul li a:hover {
    color: rgb(139, 43, 255);
    border-bottom: 2px solid rgb(139, 43, 255);

}
.home {
  background-image: url("./assets/theme-photos-CGpifH3FjOA-unsplash.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;

}
.home::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.home h1 {
  color: #eee;
  z-index: 100;
  font-size: 4rem;
  padding: 20px ;
}
.home p {
  color: #aaa;
  font-size: 1.5rem;
  z-index: 100;
}
.bot {
  padding: 2rem ;
  z-index: 100;
}
.bot button {
   font-size: 1.8rem;
   margin: 10px 20px;
   padding: 10px 20px;
   border: 2px solid white;
   color: white;
   background-color:transparent; 
   position: relative;
}
/* .bot button:hover {
  background-image: linear-gradient(to right, #675aff, #ff33ff);
} */
.bot button::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: -1;
}
.bot button:hover::before {
  width: 100%;
  background-image: linear-gradient(to right, #675aff, #ff33ff);
}
.footer {
  background-image: linear-gradient(to right, #675aff, #ff33ff); 
  /* height: 10rem; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;


}
.footer .feeds {
  padding: 1rem ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;  
}
.footer .feeds img {
  height: 2rem;
  fill: white;
  margin: 10px;
  cursor: pointer;

}
.footer .infos p {
 margin: 10px;
}
.footer .courses p {
 margin: 10px;
}
.about img {
  height: 30rem;
}
.about {
  padding: 10px 20px ;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about .content {
  padding: 10px 100px 10px 40px  ;
}
.about img {
  margin: 20px 40px ;
  border: 3px solid #d333ffb3;
}
.about .content h1 {
font-size: 4rem;
margin: 20px 10px ;
}
.about .content p {
line-height: 1.6;
font-size: 1.3rem;
color: #555;
}
.services {
  background-image: linear-gradient(to right, #675aff, #ff33ff); 
  display: flex;
  height: 40vh;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.services .box {
  margin: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

}
.services img {
  border-radius: 50%;
  border: 2px solid white;
  padding: 10px;
  height: 50px;
}
.services p {
  font-size: 15px;
  margin: 0 10px;
  color: #eee;

}
.courses {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.courses h1 {
  font-size: 50px;
  margin: 40px 10px;
}
.courses .contents  {
display: flex;
align-items: center;
justify-content: space-around;
/* margin: 10px 20px; */
}
.courses .contents .box {
margin: 30px 60px;
padding: 20px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
border: 2px solid black;
border-radius: 15px;
position: relative;
}

.courses .contents .box::before{
  content: "";
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transition: 0.3s;
  position: absolute;
}
.courses .contents .box:hover::before{
  background-image: linear-gradient(to right, #685affa6, #ff33ffa1); 
  width:100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.courses .contents .box img {
width: 15rem;

border-radius: 5px;
}
.courses .contents .box h2 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}
.courses .contents .box p {
  font-size: 15px;
  color: #555;
  text-align: center;
  margin: 10px ;
}




