* {
text-decoration: none;
list-style: none;
padding: 0;
margin: 0;
box-sizing: border-box;
}

body .heading {
    
}
body .heading .logo {
    
}
body .heading .logo img {

}

body .heading .menu {
    
}
body .heading .menu ul{
    
}
body .heading .menu ul li {
    
}
body .heading .menu ul li a {
    
}
